<?xml version="1.0"?>
<config>
    <modules>
        <Mhidalgo_RolesImprovementsEnterprise>
            <version>0.0.1</version>
        </Mhidalgo_RolesImprovementsEnterprise>
    </modules>
    <global>
        <helpers>
            <mhidalgo_rolesimprovementsenterprise>
                <class>Mhidalgo_RolesImprovementsEnterprise_Helper</class>
            </mhidalgo_rolesimprovementsenterprise>
        </helpers>
        <models>
            <mhidalgo_rolesimprovementsenterprise>
                <class>Mhidalgo_RolesImprovementsEnterprise_Model</class>
            </mhidalgo_rolesimprovementsenterprise>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mhidalgo_rolesimprovementsenterprise>
                        <class>mhidalgo_rolesimprovementsenterprise/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </mhidalgo_rolesimprovementsenterprise>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_block_html_before>
                <observers>
                    <mhidalgo_rolesimprovementsenterprise>
                        <class>mhidalgo_rolesimprovementsenterprise/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </mhidalgo_rolesimprovementsenterprise>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>