.idea
*.iml
out
gen

### Magento template
.htaccess
.htaccess.sample
.modgit/
.modman/
app/code/community/Phoenix/
app/code/community/Cm/
app/code/community/OnTap/
app/code/core/
app/design/adminhtml/default/default/etc/
app/design/adminhtml/default/default/layout/
app/design/adminhtml/default/default/locale/
app/design/adminhtml/default/default/template/api/
app/design/adminhtml/default/default/template/api2/
app/design/adminhtml/default/default/template/authorizenet/
app/design/adminhtml/default/default/template/backup/
app/design/adminhtml/default/default/template/bundle/
app/design/adminhtml/default/default/template/captcha/
app/design/adminhtml/default/default/template/catalog/
app/design/adminhtml/default/default/template/centinel/
app/design/adminhtml/default/default/template/cms/
app/design/adminhtml/default/default/template/compiler/
app/design/adminhtml/default/default/template/connect/
app/design/adminhtml/default/default/template/currencysymbol/
app/design/adminhtml/default/default/template/customer/
app/design/adminhtml/default/default/template/dashboard/
app/design/adminhtml/default/default/template/directory/
app/design/adminhtml/default/default/template/downloadable/
app/design/adminhtml/default/default/template/eav/
app/design/adminhtml/default/default/template/email/
app/design/adminhtml/default/default/template/enterprise/
app/design/adminhtml/default/default/template/giftmessage/
app/design/adminhtml/default/default/template/googlebase/
app/design/adminhtml/default/default/template/googleanalyticsuniversal/
app/design/adminhtml/default/default/template/importexport/
app/design/adminhtml/default/default/template/index/
app/design/adminhtml/default/default/template/media/
app/design/adminhtml/default/default/template/merchandiser/
app/design/adminhtml/default/default/template/moneybookers/
app/design/adminhtml/default/default/template/newsletter/preview/
app/design/adminhtml/default/default/template/newsletter/problem/
app/design/adminhtml/default/default/template/newsletter/queue/
app/design/adminhtml/default/default/template/newsletter/subscriber/
app/design/adminhtml/default/default/template/newsletter/template/edit.phtml
app/design/adminhtml/default/default/template/newsletter/template/list.phtml
app/design/adminhtml/default/default/template/newsletter/template/preview.phtml
app/design/adminhtml/default/default/template/notification/
app/design/adminhtml/default/default/template/oauth/
app/design/adminhtml/default/default/template/ogone/
app/design/adminhtml/default/default/template/page/
app/design/adminhtml/default/default/template/pagecache/
app/design/adminhtml/default/default/template/paygate/
app/design/adminhtml/default/default/template/payment/
app/design/adminhtml/default/default/template/paypal/
app/design/adminhtml/default/default/template/permissions/
app/design/adminhtml/default/default/template/poll/
app/design/adminhtml/default/default/template/promo/
app/design/adminhtml/default/default/template/rating/
app/design/adminhtml/default/default/template/report/
app/design/adminhtml/default/default/template/review/
app/design/adminhtml/default/default/template/sales/
app/design/adminhtml/default/default/template/store/
app/design/adminhtml/default/default/template/summa/
app/design/adminhtml/default/default/template/system/
app/design/adminhtml/default/default/template/tag/
app/design/adminhtml/default/default/template/tax/
app/design/adminhtml/default/default/template/urlrewrite/
app/design/adminhtml/default/default/template/usa/
app/design/adminhtml/default/default/template/weee/
app/design/adminhtml/default/default/template/widget/
app/design/adminhtml/default/default/template/xmlconnect/
app/design/adminhtml/default/default/template/*.phtml
app/design/frontend/base/
app/design/frontend/rwd/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/frontend/enterprise/iphone
app/design/install/
app/etc/modules/Enterprise_*
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_ConfigurableSwatches.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_Ogone.xml
app/etc/modules/OnTap_Merchandiser.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/local.xml
app/.htaccess
app/locale/
app/bootstrap.php
app/Mage.php
/cron.php
cron.sh
dev/
downloader/
errors/
favicon.ico
/get.php
includes/
/index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/google/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/merchandiser/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
lib/Net/
lib/Support/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
/mage
media/
/api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
shell/umt113_conflict.php
shell/umt113_redirect.php
shell/url_migration_from_1_13_0_0_to_1_13_0_2.php
shell/url_migration_to_1_13.php
shell/lib/
shell/support/
sitemap.xml
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/rwd/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/install/
var/


