<?xml version="1.0"?>
<config>
    <modules>
        <Mhidalgo_RolesImprovements>
            <version>0.0.1</version>
        </Mhidalgo_RolesImprovements>
    </modules>
    <global>
        <blocks>
            <mhidalgo_rolesimprovements>
                <class>Mhidalgo_RolesImprovements_Block</class>
            </mhidalgo_rolesimprovements>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Mhidalgo_RolesImprovements_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <mhidalgo_rolesimprovements>
                <class>Mhidalgo_RolesImprovements_Helper</class>
            </mhidalgo_rolesimprovements>
        </helpers>
        <models>
            <mhidalgo_rolesimprovements>
                <class>Mhidalgo_RolesImprovements_Model</class>
            </mhidalgo_rolesimprovements>
        </models>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <mhidalgo_rolesimprovements>
                        <class>mhidalgo_rolesimprovements/observer</class>
                        <method>adminhtmlCatalogProductGridPrepareMassaction</method>
                    </mhidalgo_rolesimprovements>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mhidalgo_rolesimprovements>
                        <class>mhidalgo_rolesimprovements/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </mhidalgo_rolesimprovements>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
</config>