<?xml version="1.0"?>
<config>
    <modules>
        <Mhidalgo_RolesImprovements>
            <version>0.0.1</version>
        </Mhidalgo_RolesImprovements>
    </modules>
    <global>
        <blocks>
            <mhidalgo_rolesimprovements>
                <class>Mhidalgo_RolesImprovements_Block</class>
            </mhidalgo_rolesimprovements>
            <widget>
                <rewrite>
                    <adminhtml_widget_instance_edit_tab_main_layout>Mhidalgo_RolesImprovements_Block_Widget_Adminhtml_Instance_Edit_Tab_Main_Layout</adminhtml_widget_instance_edit_tab_main_layout>
                </rewrite>
            </widget>
        </blocks>
        <helpers>
            <mhidalgo_rolesimprovements>
                <class>Mhidalgo_RolesImprovements_Helper</class>
            </mhidalgo_rolesimprovements>
        </helpers>
        <models>
            <mhidalgo_rolesimprovements>
                <class>Mhidalgo_RolesImprovements_Model</class>
            </mhidalgo_rolesimprovements>
        </models>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <mhidalgo_rolesimprovements>
                        <class>mhidalgo_rolesimprovements/observer</class>
                        <method>adminhtmlCatalogProductGridPrepareMassaction</method>
                    </mhidalgo_rolesimprovements>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <mhidalgo_rolesimprovements>
                        <class>mhidalgo_rolesimprovements/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </mhidalgo_rolesimprovements>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <adminhtml_block_html_before>
                <observers>
                    <mhidalgo_rolesimprovements>
                        <class>mhidalgo_rolesimprovements/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </mhidalgo_rolesimprovements>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>